@tailwind base;
@tailwind components;
@tailwind utilities;

/* base tweaks */
html, body, #root {
  height: 100%;
}

.mobile-safe {
  max-width: 480px;
  margin: 0 auto;
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

